#masthead{
  background: @header-bg;
  .site-title-wrapper{
    text-align: center;
  }
  // Site logo
  .site-branding{
    position: relative;
    //display: inline-block;
    @media screen and (max-width: 991px){
      display: inline-block;
      text-align: center;
      position: relative;
      float: none;
    }
    #site-logo{
      max-height: 200px;
      max-width: 200px;
    }
    .site-title {
      padding: 0px 10px;
      text-align: left;
      @media screen and (max-width: 991px){
        text-align: center;
      }
      a {
        color: @onaccent;
        font-weight: bold;
        // padding: 0px 10px;
        text-align: left;
        @media screen and (max-width: 991px){
          text-align: center;
        }
      }
    }
    p.site-description{
      color: @onaccent;
      padding: 0px 10px;
      text-align: left;
    }
  }
  .top-menu {
    @media screen and (min-width: 991px){
      clear: both;
      position: absolute;
      top:33px;
    }
    @media screen and (max-width: 767px){
      display: none !important;
    }

    .menu-top-menu-container{
      display: inline-block;
    }
    ul li{
      a {
        text-decoration: none;
        font-size: 14px;
        @media screen and (max-width: 1200px){
          font-size: 11px;
        }
        color: @onaccent;
        font-weight: bold;
        text-transform: uppercase;
        padding: 6px 8px;
      }
    }
    @media screen and (max-width: 767px) {
      clear: both;
      display: inline-block;
      float: none;
      width: auto;
    }
  }

  .main-navigation {
    clear: both;
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
  }
  nav.top-menu ul ul{
    display: none !important;
  }

  .search-icon{
    @media screen and (min-width: 991px){
      clear: both;
      position: relative;
      top:33px;
      float: right;
    }
    @media screen and (max-width: 991px) {
      //transform: translateY(-50%);
      float: right;
      transform: translateY(-119%);
    }

    i{
      font-weight: bolder;
      color: @onaccent;
      font-size: 14px;
      padding: 6px 6px;
    }
  }
}