/* Single Posts Area */
#primary {
  margin-top: 20px;
  article{
    .entry-footer{
      .cat-links,.tags-links{
        display: block;
        color: @accent;
        font-size: 12px;
        padding: 15px 0px;
        font-weight: bold;
        text-transform: uppercase;
        a{
          background: @header-bg;
          color: @onaccent;
          padding: 5px;
          font-size: 11px;
          @media screen and (max-width: 767px){
            padding: 3px;
            font-size: 9px;
          }
          &:hover{
            background: @accent;
            text-decoration: none;
          }
        }
      }
    }
  }
  .entry-header{
    font-size: 20px;
    font-weight: bold;
    color: lighten(@accent,6%);
    padding: 0px 30px;
    margin: 30px 0px;
  }
  #featured-image{
    padding: 0px 30px;
    margin: 30px 0px;
  }
  .ranker{
    float: left;
  }
  .ranker-wrapper{
      margin-bottom: 60px;
    .entry-title{
      margin: 0px;
      color: darken(@content,10%);
      text-transform: uppercase;
      font-weight: 800;
      @media screen and (max-width: 767px){
        margin-top: 10px;
      }
    }
    .out-thumb{
      a.post-ttl{
        text-decoration: none;
      }
      .cat{
        padding: 5px 0px;
        font-size: 20px;
        font-weight: bold;
        color: lighten(@accent,6%);
        //margin-bottom: 20px;
        margin-top: 0px;
        // text-align: center;
        text-transform: uppercase;
      }
      p.entry-excerpt{
        font-size: 16px;
        color: @content;
      }
    }
  }

    @media screen and (max-width: 767px){
      article{
      float: left;
      overflow: hidden;
      clear: both;
    }
  }
  .nav-links {
    padding: 10px 0px;
    padding-top: 20px;
    border-bottom: solid 2px darken(@background, 10%);
    overflow: auto;
    .nav-previous{
      padding: 0;
      a{
        color: @content;
        font-weight: bold;
        @media screen and (max-width: 767px){
          font-size: 12px;
          font-weight: normal;
        }
      }
      &:before{
        cursor: pointer;
        padding: 0px 5px;
        content: "\f060";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 5px;
        color: #D0090C;
      }
    }
    .nav-next{
      a{
        color: @content;
        font-size: 14px;
        font-weight: bold;
        @media screen and (max-width: 767px){
          font-size: 12px;
          font-weight: normal;
        }
      }
      &:after{
        cursor: pointer;
        padding: 0px 5px;
        content: "\f061";
        font-family: "FontAwesome";
        font-size: 16px;
        margin-right: 5px;
        color: #D0090C;
      }
    }
  }
}
.edit-link {
  display: inline-block;
  float: right;
}
.single,.page,.archive,.category {

    .entry-content{
      font-size: 16px;
    }

  #primary .entry-header {
    margin: 0px;
    .breadcrumb1{
      padding: 15px 0px;
      font-size: 12px;
      text-transform: capitalize;
    }
    .breadcrumb1{
      a {
        color: lighten(@content, 50%);
        font-weight: normal;
      }
      span{
        color: lighten(@content, 50%);
      }
    }
  }
  #primary {
  }
  .entry-content,.entry-footer,.post-navigation {
    padding: 0px 30px;
    color: @content;
  }
  .entry-title{
    margin: 0px;
    color: darken(@content,10%);
    text-transform: uppercase;
    font-weight: 800;
    @media screen and (max-width: 767px){
      margin-top: 10px;
    }
  }
  .entry-meta {
    font-size: 12px;
    .posted-on {
      display: none;
    }
    .byline{
      color: @content;
      font-weight: normal;
      text-transform: capitalize;
    }
    .author,.vcard a{
      color: @accent;
      font-weight: bold;
    }
  }
}
.archive .entry-title a, .category .entry-title a, .page .entry-title a, .single .entry-title a{

  margin: 0px;
  color: darken(@content,10%);
  text-transform: uppercase;
  font-weight: 800;
  @media screen and (max-width: 767px){
    margin-top: 10px;
  }
}
.archive #primary .page-title,.category #primary .page-title{
  color: @accent;
}
.archive,.category #primary .page-title{
  margin: 0px;
}
.archive,.category #primary .page-header{
  margin-top: 0px;
}
