#content {
  margin-top: 30px;
  clear: both;
  overflow: auto;
  @media screen and (min-width: 991px) {
    padding: 0;
  }
}
body {
  .body-font;
  background: @background;
  word-wrap: break-word;
  overflow: auto;
}
//header image
.header-image-wrapper{
  text-align: center !important;
}